@media (max-width: 1440px) {
    #attributes > div:first-of-type {
        margin-top: 50px;
    }

}

@media (max-width: 1024px) {
    #attribute-info {
        width: 850px;
    }

    #characteristics ul li {
        font-size: 14px;
    }

    #tribute-info {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    #title {
        width: 600px;
    }

    #attribute-info {
        width: 650px;
    }

    #attributes {
        height: 185px;
        flex-basis: 150px;
        font-size: 12.5px;
    }

    #attributes > div:first-of-type {
        margin-top: 5px;
    }

    #characteristics ul li {
        font-size: 12.5px;
    }

    #tribute-info {
        font-size: 13px;
    }

    #tribute-info h3 {
        width: 650px;
    }
    
    #tribute-info p {
        width: 650px;
    }
    
    #tribute-info ul {
        width: 650px;
    }

    footer {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    #title {
        width: 400px;
    }

    #attribute-info {
        width: 400px;
        flex-direction: column;
    }

    #attributes {
        flex-basis: 150px;
        font-size: 12.5px;
    }

    #attributes > div:first-of-type {
        margin: 0;
    }

    #attribute-img {
        margin: auto;
    }

    #tribute-info h3 {
        width: 400px;
    }
    
    #tribute-info p {
        width: 400px;
    }
    
    #tribute-info ul {
        width: 400px;
    }
}

@media (max-width: 375px) {
    #title {
        width: 325px;
    }

    #attribute-info {
        width: 350px;
    }

    #tribute-info h3 {
        width: 350px;
    }
    
    #tribute-info p {
        width: 350px;
    }
    
    #tribute-info ul {
        width: 350px;
    }
}

@media (max-width: 320px) {
    #title {
        width: 300px;
    }

    #attribute-info {
        width: 250px;
    }

    #tribute-info h3 {
        width: 250px;
    }
    
    #tribute-info p {
        width: 250px;
    }
    
    #tribute-info ul {
        width: 250px;
    }
}